/* =============
    content2
============= */

#content2{

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". content2 .";
    }
    @include xl{
        grid-template-columns: auto 1200px auto;
    }

>div{
    @include md{
        grid-area: content2;
    }
    ul{

        @include md{
            display: grid;
            grid-template-columns: repeat (4, 1fr);
            grid-template-areas: "c1 c1 c2 c2"
            "c3 c3 c4 c4"
            ". c5 c5 .";
            gap: 16px;
        }
        @include lg{
            grid-template-columns: repeat (6, 1fr);
            grid-template-areas: "c1 c1 c2 c2 c3 c3"
            ". c4 c4 c5 c5 .";
        }

        li{
            background-color: $greengray;
            img{
                width: 100%;
            }
            section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". content2 .";

                div{
                    grid-area: content2;
                    button{
                        background-color: $green1;
                    }
                }

            }
        }
        #c1{
            @include md{
                grid-area: c1;
            }
        }
        #c2{
            @include md{
                grid-area: c2;
            }
        }
        #c3{
            @include md{
                grid-area: c3;
            }
        }
        #c4{
            @include md{
                grid-area: c4;
            }
        }
        #c5{
            @include md{
                grid-area: c5;
            }
        }
        }
    }
} 