/* =============
    content1
============= */

#content1{
    
    ul{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "plan need";
        }
        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". content1 .";
            >div{
                grid-area: content1;
                //border: 1px solid red;
            }
        }
    }
} 