/* =============
    content1
============= */

#content1{

    padding: 16px 0px;

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". content1 .";
    }

    @include xl{
        grid-template-columns: auto 1000px auto;
    }
    
    ul{
        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;
            gap: 24px;
            grid-area: content1;
        }

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". content1 .";
            background-color: $greengray;
            color: $forest;

            >div{
                grid-area: content1;
                //border: 1px solid red;
                section{
                    div{
                        button{
                            background-color: $green1;
                            color: white;
                            font-size: rem-calc(14px);
                            font-weight: 700;
                            font-family: 'noto sans kr';
                        }
                        h1{
                            font-size: rem-calc(22px);
                            font-weight: 400;
                            font-family: 'merriweather';
                            @include md{
                                font-size: rem-calc(29px);
                            }
                            @include lg{
                                font-size: rem-calc(31px);
                            }
                        }
                        
                    }
                }
                aside{
                    div{
                        background-position: center;
                        background-size: cover;
                        border: 4px white solid;
                        height: 100px;
                        width: 100px;
                        border-radius: 100%;
                    }
                    #heroa{
                        background-image: url("../img/content1/6.jpg");
                    }
                    #herob{
                        background-image: url("../img/content1/5.jpg");
                    }
                }
            }
        }
    }
}