/* =============
    gallery
============= */

#gallery{
        ul{
            display: grid;

            @include md{
                grid-template-columns: auto 50%;
            }
            @include lg{
                grid-template-columns: auto 40%;
            }
            @include xl{
                grid-template-columns: auto 35%;
                grid-template-areas: 
                "g1 g2"
                "g1 g3";
            }
            
            li{
                img{
                    width: 100%;
                }
            }

            #g1{
                grid-area: g1;
            }
            #g2{
                grid-area: g2;
            }
            #g3{
                display: none;
                @include xl{
                    display: list-item;
                }
            }
        }
}