/* =============
    gallery
============= */

#gallery{
    
    ul{
        display: grid;
        li{
            img{
                width: 100%;
            }
            
        }
        #g3{
            display:none
        }
    }
}