/* =============
    hero
============= */

#hero{

    display: grid;
        grid-template-columns: auto;
        grid-template-areas: "hero";

        >div{
            grid-area: hero;
        }
}