/* =============
    hero
============= */

#hero{
    img{
        width: 100%;
    }
    ul{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "heroa herob";
        }
        @include xl{
            display: grid;
            grid-template-columns: auto 600px 600px auto;
            grid-template-areas: ". heroa herob .";
        }

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";

            a{
                grid-area: hero;
                //border: 1px solid red;
            }
        }
    }
    #subhero{
        display: grid;
    }
}