/* =============
    herotext
============= */

#herotext{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". herotext .";
    
    >div{
        grid-area: herotext;
    }
}