/* =============
    search
============= */

#search{

    @include xl{
        grid-template-columns: auto 1000px auto;
    }
    
    display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";

        >div{
            //border: 1px solid red;
            grid-area: search;

            form{
                button{
                    background-color: $green1;
                    color: white;
                }
            }
        }
}