/* =============
    Footer
============= */

#footer{ 
    padding: 16px 0px;
    background-color: $green3;
    color: $greengray;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    @include md{
        padding: 32px;
    }
    @include lg{
        padding: 60px;
    }

@include xl{
    grid-template-columns: auto 1150px auto;
    padding: 64px;
    }

    >div{
        grid-area: footer;
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "locations newsletter"
            "locations followus";
            gap: 16px;
            }
            @include lg{
                grid-template-columns: repeat (3, 1fr);
                grid-template-areas: "locations newsletter followus";
                }

        section{
            h3{
                font-size: rem-calc(20px);
                font-weight: 700;
                font-family: 'merriweather';
                padding: 0px 0px 16px 0px;
            }
            section{
                h4{
                font-size: rem-calc(16px);
                font-weight: 700;
                font-family: 'merriweather';
                margin-top: 16px;
                margin-bottom: 16px;
                }
            }
            #social{ 
                display: flex;
                li{
                    i{
                        color: $greengray;
                    }
                }
            }
            ul{ 
                
                li{
                    display: flex;
                    margin-bottom: 24px;

                    i{
                        color: $green1;
                        font-size: rem-calc(20);
                        margin-right: 10px;
                    }
                   
                    a:link, a:visited{
                        text-decoration: none;
                        color: $greengray;
                        transition: .25s;
                        font-size: rem-calc(12);
                        font-weight: 400;
                        font-family: 'noto sans kr';
                        font-style: normal;
    
                        &:hover, &:active{
                            color: $white;
                        }
                    }
                    address{
                        font-size: rem-calc(12px);
                        font-weight: 400;
                        font-family: 'noto sans kr';
                        font-style: normal;
                    }
                    
                }
            }
            form{
                button{
                    display: flex;
                    background-color: $green1;
                    color: white;
                    font-size: rem-calc(14px);
                    font-weight: 700;
                    font-family: 'noto sans kr';
                    border: none;
                    padding: 4px 6px;
                    transition: .25s;
                    margin-top: 16px;
                    margin-bottom: 32px;
                    margin-left: 76%;

                    @include md{
                        margin-left: 78%;
                    }

                    @include lg{
                        margin-left: auto;
                    }

                    &:hover{
                        background-color: $forest;
                        cursor: pointer;
                    }
                }
            }
        }
        section{
            form{
                input{
                    border: none;
                    background-color: $greengray;
                    padding: 16px 8px;
                    font-weight: 700;
                    font-size: rem-calc(14px);
                    font-family: 'noto sans kr';
                    color: $green3;
                    width: 90%;

                    &::placeholder{
                        // Chrome, Firefox, Opera, Safari 10.1+
                        color: $green3;
                        // Firefox
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        // internet explorer 10-11
                        color: $green3;
                    }
                    &::-ms-input-placeholder {
                        // microsoft edge
                        color: $green3;
                    }
                }
            }
        }

        #locations{
            @include md{
                grid-area: locations;
            }
        }
        #newsletter{
            @include md{
                grid-area: newsletter;
            }
        }
        #followus{
            // @include md{
            //     grid-area: followus;
            // }
            ul{
                margin-top: 0 8px;
                li{
                    margin: 0px 8px;
                    // a{
                    //     text-align: left;
                    // }
                }
            }
        }
        #news{
            @include lg{
                text-align: center;
            }
        }
        #follow{
            @include lg{
                text-align: right;
            }
        }
    }
} 