/* =============
    Header
============= */

#header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    background-color: $green3;
    color: white;
    padding: 16px 0px;

    @include md{
        padding: 21px;
    }

    >div{
        //border: 1 px solid red;
        grid-area: header;
        section{
            h1{
                font-family: 'merriweather';
                font-weight: 400;
                font-size: rem-calc(48px);
                @include md{
                    font-size: rem-calc(60px);
                }
                @include lg{
                    font-size: rem-calc(72px);
                }
            }
        }
    }
}

